/* Background Colour */
body {
	background-color: #000000;
}

/* Default Styles */
h1 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	text-decoration: underline;
	font-family: "Courier New", Courier, monospace;
}
h2 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
h3 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
p {
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

/* Style class=menu links */
a.menu:link {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace; 
	text-decoration: none
}
a.menu:visited {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none
}
a.menu:hover {
	text-decoration: underline;
}
.menu {
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none
}

/* Style class=content sections */
.header {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	font-family: "Georgia", Courier, monospace;
	text-decoration: none
}
.content {
	/* background-color: #000000; */
	/* color: #ffffff; */
	text-align: center;
	font-size: 14px;
	padding: 20px;
}
.footer {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	font-family: "Georgia", Courier, monospace;
	text-decoration: none
}

/* Logo Style class=image */
div.image {
	margin: 5px;
  	border: none;
	width: calc(100% - 200px);
}
div.image:hover {
	opacity: 80%;
}
div.image img {
	width: 256px; 
	height: 256px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Style class=gallery images */
div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
