body {
	background-color: #000000;
}
/* h1 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	text-decoration: underline;
	font-family: "Courier New", Courier, monospace;
}
h2 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
h3 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
p {
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
} */
/* Style class=menu links */
a.menu:link {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace; 
	text-decoration: none
}
a.menu:visited {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none
}
a.menu:hover {
	text-decoration: underline;
}
.menu {
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none
}
.header {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	font-family: "Georgia", Courier, monospace;
	text-decoration: none
}
.content {
	/* background-color: #000000; */
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	padding: 20px;
}
.image {
	/* background-color: #000000; */
	/* color: #ffffff; */
	text-align: center;
	padding: 20px;
	width: 256px; 
	height: 256px;
}
.footer {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	font-family: "Georgia", Courier, monospace;
	text-decoration: none
}
