/* Background Colour */
body {
	background-color: #000000;
}

/* Default Styles */
h1 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	text-decoration: underline;
	font-family: "Courier New", Courier, monospace;
}
h2 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
h3 {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
p {
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

/* Style class=menu links */
a.menu:link {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace; 
	text-decoration: none
}
a.menu:visited {
	color: #b30000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none
}
a.menu:hover {
	text-decoration: underline;
	transition: .25s ease;
}
.menu {
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none;
}

/* Style class=content sections */
.header {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	font-family: 'Segoe UI Black','Arial Black','Arial', sans-serif;
	text-decoration: none
}
.content {
	text-align: center;
	font-size: 14px;
	padding: 20px;
	height: 440px; /* adjust this value to add space */
	/* height: calc(100% - 200px); */
}
.footer {
	background-color: #0000ff;
	color: #00ff00;
	padding: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	font-family: 'Segoe UI Black','Arial Black','Arial', sans-serif;
	text-decoration: none
}

/* Logo Style class=logo */
.logo {
	margin: 5px;
  	border: none;
}
.logo:hover {
	opacity: 80%;
}
.logo img {
	width: 256px; 
	height: 256px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Overlay Style class=image */
.container {
	position: relative;
	width: 256px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.image:hover {
	border: 1px solid #777;
	opacity: 80%;
	transition: .25s ease;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: -50%;
	right: 0;
	background-color: #0000ff;
	overflow: hidden;
	width: 200%;
	height: 0;
	transition: .5s ease;
}

.container:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* Style class=gallery images */
div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
